main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
article p {
  font-size: 11px;
  margin: auto;
  display: inline-block;
  margin-bottom: .5rem;
}
article p:last-of-type {
  padding-left: 1rem;
  cursor: pointer;
}
article p:last-of-type:hover {
  color: purple;
}
article .article-button {
  margin: .2rem .1vw;
}
